@font-face {
    font-family: kica;
    src: url("../font/PERSONAL-USE-Kica-Light.ttf");
}
@font-face {
    font-family: lexend;
    src: url("../font/Lexend-VariableFont_wght.ttf");
}

h1{
    font-family: kica;
    text-transform: uppercase;
    font-weight:900;
    font-size: 5vw;
    color: #0a0a0a;
    line-height: 0.5em;
}
#titel{
    margin-top: 0px;
    margin-left: 20px;
}
h3{
    font-family: kica;
    text-transform: uppercase;
    font-weight:900;
    font-size: 4vw;
    color: #0a0a0a;
    margin: 20px;
    line-height: 1em;
}
h6{
    font-family: kica;
    text-transform: uppercase;
    font-weight:900;
    color: #fefefe;
    font-size: 1vw;
    mix-blend-mode: exclusion;
}
#menu > h6 {
    margin: 20px;
}
#start{
    background-color: #fefefe;
}

article{
    scroll-snap-align: center;
    scroll-snap-type: y mandatory;
}
section{
    height: 98vh;
    /* min-height: 800px; */
    width: 100vw;
    display: grid;
    grid-template-rows: 8fr 2fr 2fr;
    overflow: hidden;
}
body{
    width: 100vw;
    scrollbar-color: hidden;
    overflow-x: hidden;
    /* height: 200vh; */
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
.gemuese{
    /* background-color: blue; */
    z-index: 99;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: none;
    display: inline;
}
.gemuese:hover{
    cursor:grab;
}
#rotebete{
    top: 0;
    left: 120px;
    width: 20vw;
    height: 20vw;
    background-image: url("../img/RoteBete_Aug.png");
    /* background-color: aqua; */
}
#moehre{
    top: 600px;
    left: 20vw;
    width: 50vw;
    height: 20vw;
    background-image: url("../img/karotte.png");
}
#zwiebel{
    top: 150px;
    left: 50vw;
    width: 20vw;
    height: 20vw;
    background-image: url("../img/Zwiebel.png");
}

#titel{
    height: 200px;
}
/* body{
    cursor: url("../img/star.png"),  auto ;
} */
#var2{
    background-color: #0a0a0a;
    display: grid;
    height: 100vh;
}
#var2 * h3{
    color: #fefefe;
}
#reservierbtn{
    position: fixed;
    right: 20px;
    bottom: 30px;

    font-family: kica;
    text-transform: uppercase;
    font-weight:900;
    font-size: 2vw;
    color: white;

    mix-blend-mode:exclusion;
    /* background-color: black; */
    border: none;
    z-index: 9999;
}
#reservierbtn:hover{
    cursor: pointer;
}

::-webkit-scrollbar{
    width: 0px;
}

.dsgvo{
    font-family: kica;
    text-transform: uppercase;
    font-weight:900;
    color: #0a0a0a;
    font-size: 1vw;
    display: block;
    height: fit-content;
}


/* #info, #scrolldown{
    position: relative;
    left: 20px;
    height:98vh;
    width: 100vw;
    width: fit-content;
    display: grid;
    place-content: bottom;
}
#info > span, .arrow{
    height: fit-content;
    position: absolute;
    color: #0a0a0a;
}
#info>span{
    bottom: 20px;
}
.arrow{
    transform: rotate(90deg);
    left: 20px;
    bottom: 20px;
    font-size: 15px;
    mix-blend-mode: normal;
}
#arrowtwo{
    width: fit-content;
    position: absolute;
    left: 20px;
    bottom: -98vh;
    color: #fefefe;
} */

.scrolldown{
    position: relative;
    bottom: 0;
    width: fit-content;
    height: min-content;
    margin-left: 20px;
    grid-row: 4 / span 1;
    /* background-color: aqua; */
}

.arrow{
    width: fit-content;
    height: fit-content;
    transform: rotate(90deg);
    mix-blend-mode: exclusion;
}
#info {
    height: 100%;
    display: grid;
    place-content: bottom;
    bottom: 30px;
    grid-row: 4 / span 1;
}

#date{
    margin-top: 20vh;
    /* margin-bottom: 30px; */
    height: fit-content;
}

h6{
    height: fit-content;
    white-space:normal;
    line-break: auto;
}

#var3{
    background-color: #fefefe;
}

#text{
    padding: 20px;
    font-family: lexend;
    font-size: 2vw;
}
#text > #namen{
    margin-top: 50px;
    font-size: 1.5vw;
}


@media screen and (max-width: 630px) {
    h1{
        font-size: 8vw;
        line-height: 8vw;
    }
    
    #reservierbtn{
        font-size: 5vw;
    }
    h6{
        font-size: 3vw;
        white-space:normal;
        line-break: auto;
    }
    h3{
        font-size: 5vw;
    }
    article{
        overflow: hidden;
    }

    #rotebete, #zwiebel{
        width: 50vw;
        height: 50vw;
    }
    #zwiebel{
        top: 400px;
    }
    #rotebete{
        left: 40px;
        top: 120px;
    }
    #moehre{
        width: 90vw;
        height: 40vw;
        left: 0px;
        top: 700px;
    }
    .dsgvo{
        font-size: 10px;
    }
    #date{
        margin-top: 20vh;

    }
    #section{
        height: 100vh;
        min-height: 500px;
    }

    #text{
        font-size: 4vw;
    }
    #text > #namen{
        font-size: 3vw;
    }
}

@media screen and (orientation: landscape) and (max-width: 630px){
    #zwiebel, #rotebete{
        width: 30vw;
        height: 30vw;
    }
    #moehre{
        height: 25vw;
        width: 50vw;
        top: 300px;
    }
    h1{
        font-size: 6vw;
        line-height: 1em;
    }

    #titel{
        height: 5vh;
    }
    section{
        height: 100vh;
        width: 100vw;
        display: grid;
        overflow: hidden;
        scroll-snap-align: start;
    }

}




